<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryansteckler.nlpunbounce" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:label="NlpUnbounce"
        android:icon="@drawable/ic_launcher">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
        <meta-data
            android:name="xposeddescription"
            android:value="Reduce NLP Wakelocks by Ryan Steckler" />

        <activity
            android:name=".SettingsActivity"
            android:label="NlpUnbounce settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <receiver android:name=".BlockReceiver"
            android:enabled="true"
            android:exported="true" >
        <intent-filter>
                <action android:name="com.ryansteckler.nlpunbounce.INCREMENT_BLOCK_COUNT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
